name: test
on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  test:
    permissions:
      contents: read  # for actions/checkout to fetch code
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: "package.json"
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Run Test
        run: npm run test
      - name: Ensure dist/ folder is up-to-date
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          npm run package
          if [ "$(git diff --ignore-space-at-eol | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi
